<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Marvel Revisited</title>
  <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

  <div class="search-bar">
      <input name="value" type="text" placeholder="Enter Character" id="search-input">
      <button id="search-button">Search</button>
  </div>

<!--   <div class="search-results">

  </div> -->

<!-- add most recent jquery
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="script.js" type="text/javascript"></script> -->

</body>
</html>
